.my-layout1 {
  position: fixed;
  width: 100vw;
  margin-top: 75px;
  height: calc(100vh - 75px);
  overflow: auto;
  display: flex;
  background-color: #F6F9FC;
}

input,
.ant-input-number,
.ant-select-selector,
.ant-upload-list-picture-card-container {
  border-radius: 8px;
  padding: 10px;
}


#cancel-bt {
  margin-top: 0px;
  margin-right: 5px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  background-color: #fff;
  color: #FF2E63;
  border: 1px solid #FF2E63;
  font-size: 14px;
  cursor: pointer;
  transition: 0.75s;
}

#cancel-bt:hover {
  background-color: #FF2E63;
  color: #fff;
}

#submit-bt {
  margin-left: 5px;
  margin-top: 0px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  background-color: #FF2E63;
  color: white;
  border: 1px solid #FF2E63;
  font-size: 14px;
  cursor: pointer;
  transition: 0.75s;

}

#submit-bt:hover {
  background-color: #fff;
  border-color: #FF2E63;
  color: #FF2E63;
}



