.navbar-container {
  width: 100vw;
  padding-right: 33px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #F6F9FC; 
}

.Search-Product {
  flex: 1; 
  max-width: 600px; 
}

.new-product-btn {
  margin-top: 25px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background-color: #FF2E63;
  color: white;
  border: 1px solid #FF2E63;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: background-color 0.3s ease; 
}

.new-product-btn:hover {
  background-color: #e40057; 
}

.SelectBC{
  display: flex;
  justify-content: end;

  
}

.filter-Content{
  display: flex;
  justify-content: end;

}
