.my-layout1 {
    position:fixed;
    width: 100vw;
    margin-top: 75px;
    height: calc(100vh - 75px);
    overflow: auto;
    display: flex;
    background-color:#F6F9FC;
  }

  
  input, .ant-input-number, .ant-select-selector, .ant-upload-list-picture-card-container {
    border-radius: 8px;
    padding: 10px;
  }

  
  .cancel-bt {
    background-color: #fff;
    color: #FF2E63;
    border-color: #FF2E63;
  }
  
  .cancel-bt:hover {
    background-color: #FF2E63;
    color: #fff;
  }
  
  .submit-bt {
    background-color: #FF2E63;
    border-color: #FF2E63;
    color: #fff;
  }
  
